---
import { Icon } from 'astro-icon'
const heightWidth = "4em";
---
<div class="topContent boxHieghtMargin">
    <div class="introText">
        <h3 class="headings">Hiya, I am</h3>
        <h1 class="headings name">Dorian B</h1>
        <p class="developer">> Half-Stack Developer</p>
        <p class="comment"> // Personal Data</p>
        <p> <span class="color1">int</span> <span class="color2">age </span> <span class="color3">=</span> <span class="color4"> 27</span></p>
        <p> <span class="color1">string</span> <span class="color2">location </span> <span class="color3">=</span> <span class="color4">"Sask, Canada"</span></p>
    </div>
    <div class="imgDiv">
        <img class="toastLogo" src="/ToastCute.png" alt="Cute Toast"  />
    </div>
</div>
<div class="bioContent boxHieghtMargin">
    <div class="bioText">
        <h1 class="headings">About Me:</h1>
        <p>Half self-taught, half school-taught, fully equipped to debug both my code and my life, I'm a half-stack/full-stack developer, avid gamer, memer extraordinaire, and self-hoster of all my problems... because who needs cloud services when you've got enough issues to fill an entire server farm? 😎 🌩️ </p>
    </div>
    <div class="svgLogosBox">
        <div class="svgLogoSection">
            <div class="svgLogos"> <!--HTML-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#E14E1D" rx="60"/><path fill="#fff" d="m48 38l8.61 96.593h110.71l-3.715 41.43l-35.646 9.638l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l65.51-18.172l8.783-98.061H85.824l-2.923-32.71h122.238L208 38H48Z"/><path fill="#EBEBEB" d="M128 38H48l8.61 96.593H128v-31.938H85.824l-2.923-32.71H128V38Zm0 147.647l-.041.014l-35.579-9.624l-2.379-26.602H57.94l4.585 51.281l65.427 18.172l.049-.014v-33.227Z"/></g></svg>
            </div>
            <div class="svgLogos"> <!--CSS-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#0277BD" rx="60"/><path fill="#EBEBEB" d="m53.753 102.651l2.862 31.942h71.481v-31.942H53.753ZM128.095 38H48l2.904 31.942h77.191V38Zm0 180.841v-33.233l-.14.037l-35.574-9.605l-2.274-25.476H58.042l4.475 50.154l65.431 18.164l.147-.041Z"/><path fill="#fff" d="m167.318 134.593l-3.708 41.426l-35.625 9.616v33.231l65.483-18.148l.48-5.397l7.506-84.092l.779-8.578L208 38h-80.015v31.942h45.009l-2.906 32.709h-42.103v31.942h39.333Z"/></g></svg>            
			</div>
            <div class="svgLogos"> <!--JS-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#F0DB4F" rx="60"/><path fill="#323330" d="m67.312 213.932l19.59-11.856c3.78 6.701 7.218 12.371 15.465 12.371c7.905 0 12.889-3.092 12.889-15.12v-81.798h24.058v82.138c0 24.917-14.606 36.259-35.916 36.259c-19.245 0-30.416-9.967-36.087-21.996m85.07-2.576l19.588-11.341c5.157 8.421 11.859 14.607 23.715 14.607c9.969 0 16.325-4.984 16.325-11.858c0-8.248-6.53-11.17-17.528-15.98l-6.013-2.579c-17.357-7.388-28.871-16.668-28.871-36.258c0-18.044 13.748-31.792 35.229-31.792c15.294 0 26.292 5.328 34.196 19.247l-18.731 12.029c-4.125-7.389-8.591-10.31-15.465-10.31c-7.046 0-11.514 4.468-11.514 10.31c0 7.217 4.468 10.139 14.778 14.608l6.014 2.577c20.449 8.765 31.963 17.699 31.963 37.804c0 21.654-17.012 33.51-39.867 33.51c-22.339 0-36.774-10.654-43.819-24.574"/></g><svg>            
			</div>
            <div class="svgLogos"> <!--TS-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#007ACC" rx="60"/><path fill="#fff" d="m56.611 128.849l-.081 10.484h33.32v94.679h23.57v-94.679h33.32v-10.281c0-5.689-.121-10.443-.284-10.565c-.122-.162-20.399-.244-44.983-.203l-44.739.122l-.122 10.443Zm149.956-10.741c6.501 1.626 11.459 4.511 16.01 9.224c2.357 2.52 5.851 7.112 6.136 8.209c.081.325-11.053 7.802-17.798 11.987c-.244.163-1.22-.894-2.317-2.519c-3.291-4.795-6.745-6.868-12.028-7.233c-7.761-.529-12.759 3.535-12.718 10.321c0 1.991.284 3.169 1.097 4.795c1.706 3.535 4.876 5.648 14.832 9.955c18.326 7.884 26.168 13.085 31.045 20.48c5.445 8.249 6.664 21.415 2.966 31.208c-4.063 10.646-14.141 17.879-28.323 20.277c-4.388.772-14.791.65-19.504-.203c-10.281-1.829-20.033-6.908-26.047-13.572c-2.357-2.601-6.949-9.387-6.664-9.875c.121-.162 1.178-.812 2.356-1.503c1.138-.65 5.446-3.129 9.509-5.486l7.355-4.267l1.544 2.276c2.154 3.291 6.867 7.802 9.712 9.305c8.167 4.308 19.383 3.698 24.909-1.259c2.357-2.154 3.332-4.389 3.332-7.68c0-2.967-.366-4.267-1.91-6.502c-1.991-2.844-6.054-5.242-17.595-10.24c-13.206-5.689-18.895-9.224-24.096-14.832c-3.007-3.25-5.852-8.452-7.03-12.8c-.975-3.616-1.219-12.678-.447-16.335c2.722-12.759 12.353-21.658 26.25-24.3c4.511-.853 14.994-.528 19.424.569Z"/></g></svg>
			</div>
            <div class="svgLogos"> <!--GIT-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#F03C2E" rx="60"/><g clip-path="url(#skillIconsGit0)"><path fill="#fff" d="m224.225 119.094l-87.319-87.319a12.869 12.869 0 0 0-14.035-2.793a12.869 12.869 0 0 0-4.177 2.793L100.569 49.9l23 23c5.35-1.875 11.475-.594 15.737 3.669a15.313 15.313 0 0 1 3.631 15.831l22.169 22.169c5.363-1.85 11.55-.657 15.831 3.637a15.322 15.322 0 0 1 3.321 16.706a15.333 15.333 0 0 1-20.029 8.293c-1.86-.771-3.55-1.9-4.973-3.324c-4.5-4.5-5.612-11.125-3.337-16.669l-20.675-20.675v54.407a15.605 15.605 0 0 1 4.062 2.9a15.326 15.326 0 0 1-21.675 21.675a15.318 15.318 0 0 1-3.326-16.704a15.297 15.297 0 0 1 3.326-4.971c1.481-1.475 3.125-2.594 5.019-3.344v-54.913a15.216 15.216 0 0 1-5.019-3.343a15.315 15.315 0 0 1-3.3-16.757L91.644 58.813l-59.875 59.812a12.88 12.88 0 0 0-2.795 14.04a12.88 12.88 0 0 0 2.795 4.179l87.325 87.312a12.884 12.884 0 0 0 4.177 2.793a12.888 12.888 0 0 0 9.858 0a12.884 12.884 0 0 0 4.177-2.793l86.919-86.781a12.882 12.882 0 0 0 3.776-9.109a12.876 12.876 0 0 0-3.776-9.11"/></g><defs><clipPath id="skillIconsGit0"><path fill="#fff" d="M28 28h200v200H28z"/></clipPath></defs></g></svg> 
            </div>
            <div class="svgLogos"> <!--DOCKER-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#2396ED" rx="60"/><path fill="#fff" d="M141.187 122.123h20.717v-18.744h-20.717v18.744Zm-24.662 0h20.716v-18.744h-20.716v18.744Zm-24.17 0h20.717v-18.744H92.355v18.744Zm-24.17 0H88.41v-18.744H68.186v18.744Zm-24.662 0H64.24v-18.744H43.523v18.744Zm24.663-22.69h20.223V80.69H68.186v18.743Zm24.17 0h20.716V80.69H92.355v18.743Zm24.169 0h20.716V80.69h-20.716v18.743Zm0-22.69h20.716V58h-20.716v18.744ZM228 113.739s-8.879-8.386-27.129-5.426c-1.973-14.305-17.264-22.69-17.264-22.69s-14.304 17.264-3.946 36.501c-2.959 1.48-7.892 3.453-15.291 3.453H28.726c-2.467 9.372-2.467 71.521 65.602 71.521c48.832 0 85.333-22.689 102.597-64.123C222.574 134.948 228 113.738 228 113.738Z"/></g></svg>
			</div>
            <div class="svgLogos"> <!--MYSQL-->
                <svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><g clip-path="url(#skillIconsMysqlDark0)"><path fill="#fff" fill-rule="evenodd" d="M203.801 178.21c-9.79-.272-17.385.731-23.75 3.409c-1.833.736-4.774.736-5.016 3.043c.98.968 1.098 2.552 1.957 3.894c1.467 2.435 4.041 5.715 6.365 7.417l7.834 5.598c4.774 2.917 10.16 4.622 14.811 7.542c2.694 1.704 5.386 3.894 8.08 5.721c1.372.973 2.203 2.558 3.918 3.163v-.368c-.856-1.091-1.103-2.672-1.956-3.894l-3.677-3.526c-3.547-4.744-7.957-8.884-12.731-12.287c-3.918-2.677-12.484-6.326-14.076-10.825l-.241-.273c2.689-.272 5.872-1.219 8.445-1.949c4.165-1.091 7.957-.851 12.238-1.945l5.88-1.704v-1.091c-2.204-2.189-3.795-5.11-6.119-7.176c-6.242-5.353-13.102-10.586-20.203-14.965c-3.794-2.432-8.692-4.017-12.731-6.081c-1.473-.731-3.918-1.096-4.774-2.312c-2.209-2.672-3.43-6.204-5.021-9.369l-10.037-21.168c-2.203-4.745-3.553-9.49-6.242-13.869c-12.611-20.683-26.324-33.212-47.38-45.502c-4.527-2.555-9.913-3.654-15.64-4.99l-9.18-.49c-1.962-.851-3.919-3.164-5.633-4.26c-6.978-4.38-24.974-13.868-30.12-1.363c-3.305 7.907 4.899 15.692 7.684 19.709c2.085 2.798 4.774 5.96 6.247 9.124c.823 2.067 1.098 4.259 1.957 6.449c1.956 5.352 3.794 11.316 6.365 16.306c1.372 2.555 2.813 5.235 4.527 7.545c.98 1.363 2.695 1.947 3.06 4.136c-1.715 2.435-1.833 6.081-2.813 9.127c-4.409 13.748-2.694 30.78 3.548 40.902c1.962 3.04 6.585 9.734 12.858 7.177c5.509-2.19 4.28-9.124 5.871-15.208c.37-1.458.124-2.432.856-3.408v.273l5.021 10.097c3.795 5.961 10.408 12.167 15.914 16.306c2.936 2.19 5.263 5.964 8.934 7.3v-.368h-.241c-.736-1.091-1.839-1.582-2.818-2.433c-2.203-2.189-4.651-4.867-6.366-7.299c-5.139-6.812-9.666-14.357-13.708-22.142c-1.961-3.771-3.676-7.908-5.262-11.679c-.741-1.461-.741-3.654-1.962-4.379c-1.839 2.672-4.527 4.99-5.88 8.273c-2.327 5.23-2.568 11.679-3.424 18.371c-.494.122-.275 0-.494.272c-3.913-.97-5.263-4.99-6.73-8.393c-3.672-8.638-4.287-22.507-1.104-32.484c.856-2.555 4.533-10.585 3.065-13.018c-.74-2.312-3.183-3.648-4.533-5.475c-1.591-2.312-3.3-5.23-4.403-7.785c-2.936-6.817-4.404-14.357-7.59-21.17c-1.473-3.164-4.041-6.45-6.124-9.367c-2.327-3.286-4.892-5.599-6.73-9.49c-.612-1.363-1.468-3.528-.489-4.99c.242-.973.735-1.363 1.71-1.581c1.59-1.364 6.124.365 7.715 1.09c4.527 1.827 8.322 3.529 12.117 6.081c1.715 1.216 3.553 3.529 5.756 4.14h2.574c3.918.85 8.322.272 11.99 1.363c6.49 2.072 12.364 5.11 17.632 8.398c16.035 10.098 29.26 24.454 38.193 41.611c1.468 2.798 2.08 5.353 3.43 8.273c2.574 5.964 5.757 12.045 8.322 17.888c2.574 5.718 5.021 11.562 8.693 16.306c1.838 2.555 9.18 3.891 12.484 5.23c2.45 1.091 6.242 2.073 8.451 3.409c4.159 2.555 8.322 5.475 12.237 8.273c1.956 1.456 8.081 4.499 8.445 6.926l.014-.066ZM78.958 72.487a19.569 19.569 0 0 0-5.015.608v.273h.241c.98 1.947 2.695 3.286 3.918 4.99l2.818 5.84l.242-.272c1.714-1.216 2.573-3.163 2.573-6.08c-.735-.851-.856-1.705-1.468-2.556c-.735-1.216-2.326-1.827-3.309-2.797v-.006Z" clip-rule="evenodd"/></g><defs><clipPath id="skillIconsMysqlDark0"><path fill="#fff" d="M38 38h180v180H38z"/></clipPath></defs></g></svg>
            </div>
            <div class="svgLogos"> <!--POSTGRES-->
                <svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><path fill="#336791" d="M203.48 148.688c-20.32 4.19-21.796-2.693-21.796-2.693c21.466-31.852 30.445-72.282 22.696-82.175c-21.121-27-57.691-14.224-58.303-13.893l-.197.035a72.484 72.484 0 0 0-13.563-1.414c-9.197-.14-16.172 2.412-21.473 6.427c0 0-65.236-26.873-62.199 33.8c.647 12.909 18.492 97.734 39.797 72.07c7.847-9.436 15.37-17.361 15.37-17.361c3.727 2.482 8.206 3.748 12.896 3.291l.365-.309a14.243 14.243 0 0 0 .148 3.642c-5.484 6.131-3.867 7.207-14.836 9.464c-11.095 2.285-4.57 6.356-.323 7.425c5.161 1.294 17.1 3.122 25.172-8.17l-.324 1.286c2.152 1.723 3.656 11.201 3.403 19.793c-.253 8.593-.422 14.485 1.266 19.097c1.687 4.613 3.375 14.977 17.789 11.953c12.045-2.58 18.281-9.281 19.16-20.432c.619-7.932 2.011-6.765 2.11-13.852l1.125-3.361c1.286-10.758.21-14.224 7.628-12.607l1.807.162c5.464.246 12.615-.879 16.805-2.827c9.035-4.19 14.393-11.194 5.484-9.351h-.007Z"/><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.034" d="M146.07 48.596c-2.25.703 36.31-14.097 58.233 13.908c7.735 9.893-1.23 50.323-22.697 82.174m-53.508 9.106c-.562 20.011.141 40.162 2.096 45c1.954 4.837 6.152 14.414 20.573 11.334c12.045-2.58 16.432-7.58 18.331-18.612l4.45-35.275l-45.45-2.447ZM110.816 53.469S45.537 26.779 48.575 87.45c.647 12.909 18.492 97.734 39.797 72.07c7.776-9.373 14.808-16.706 14.808-16.706l7.636-89.346Z"/><path stroke="#fff" stroke-linecap="round" stroke-linejoin="bevel" stroke-width="5.034" d="M181.613 144.664s1.407 6.891 21.797 2.686c8.909-1.842 3.544 5.161-5.484 9.352c-7.411 3.445-24.033 4.324-24.307-.422c-.703-12.27 8.747-8.543 8.065-11.616c-.619-2.77-4.852-5.484-7.636-12.262c-2.44-5.907-33.469-51.258 8.606-44.53c1.547-.316-10.969-40.077-50.344-40.654c-39.375-.577-38.13 48.41-38.13 48.41"/><path stroke="#fff" stroke-linejoin="round" stroke-width="5.034" d="M117.08 148.869c-5.484 6.131-3.867 7.207-14.835 9.464c-11.096 2.285-4.57 6.356-.324 7.425c5.161 1.294 17.1 3.122 25.172-8.178c2.461-3.445-.014-8.929-3.389-10.321c-1.631-.675-3.811-1.519-6.609 1.617l-.015-.007Z"/><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.034" d="M116.722 148.763c-.563-3.607 1.181-7.889 3.044-12.909c2.799-7.523 9.254-15.047 4.093-38.932c-3.846-17.79-29.672-3.706-29.672-1.294s1.167 12.235-.422 23.66c-2.088 14.921 9.492 27.535 22.823 26.248"/><path fill="#fff" stroke="#fff" stroke-width="1.68" d="M110.577 95.27c-.12.822 1.511 3.023 3.628 3.318c2.116.296 3.923-1.42 4.043-2.25c.119-.83-1.512-1.73-3.628-2.025c-2.117-.295-3.938.14-4.043.956Z"/><path fill="#fff" stroke="#fff" stroke-width=".837" d="M175.011 93.59c.112.822-1.512 3.022-3.628 3.318c-2.117.295-3.938-1.42-4.043-2.25c-.106-.83 1.512-1.73 3.628-2.025c2.116-.295 3.937.14 4.043.956Z"/><path stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="5.034" d="M182.577 87.887c.351 6.469-1.393 10.863-1.618 17.747c-.323 9.998 4.768 21.445-2.904 32.906"/></g></svg>
            </div>
			<div class="svgLogos"> <!--CLOUDFLARE-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><g clip-path="url(#skillIconsCloudflareDark0)"><path fill="#fff" d="M79 171.75h132.356v-36.625l-25.144-14.419l-4.337-1.875L79 119.537v52.213Z"/><path fill="#F38020" d="M165.575 166.887c1.231-4.218.763-8.087-1.287-10.962c-1.875-2.638-5.044-4.163-8.85-4.338l-72.157-.937a1.34 1.34 0 0 1-1.112-.588c-.238-.35-.294-.812-.175-1.287c.237-.706.937-1.231 1.7-1.288l72.8-.937c8.625-.413 18-7.388 21.275-15.938l4.162-10.843a2.37 2.37 0 0 0 .125-1.407c-4.687-21.218-23.625-37.043-46.25-37.043c-20.875 0-38.562 13.481-44.9 32.187a21.626 21.626 0 0 0-14.95-4.162c-10.025 1-18.125 9.025-19.05 19.05a22.369 22.369 0 0 0 .525 7.443A30.252 30.252 0 0 0 28 166.125c0 1.462.125 2.937.294 4.394c.125.706.706 1.231 1.406 1.231h133.175a1.81 1.81 0 0 0 1.7-1.288l1-3.575Z"/><path fill="#FAAE40" d="m188.55 120.519l-2 .062c-.469 0-.875.35-1.063.813l-2.812 9.787c-1.231 4.219-.763 8.088 1.287 10.963c1.875 2.637 5.044 4.162 8.85 4.337l15.357.938c.468 0 .875.237 1.112.587c.238.35.294.875.175 1.288c-.237.706-.937 1.231-1.7 1.287l-16 .938c-8.675.412-18 7.387-21.275 15.937l-1.175 2.988c-.237.587.175 1.175.813 1.175H225.1a1.44 1.44 0 0 0 1.406-1.057a40.03 40.03 0 0 0 1.494-10.65a39.5 39.5 0 0 0-39.45-39.387"/></g><defs><clipPath id="skillIconsCloudflareDark0"><path fill="#fff" d="M28 28h200v200H28z"/></clipPath></defs></g></svg>
			</div>
            <div class="svgLogos"> <!--ASTRO-->
                <svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="url(#skillIconsAstro0)" rx="60"/><path fill="#31274A" fill-rule="evenodd" d="M157.719 33.011c1.634 2.028 2.466 4.765 4.132 10.237l36.396 119.561a151.488 151.488 0 0 0-43.513-14.732l-23.697-80.08a3.086 3.086 0 0 0-4.809-1.593c-.533.4-.922.962-1.109 1.602l-23.411 80.031A151.447 151.447 0 0 0 58 162.791l36.573-119.57c1.673-5.464 2.507-8.195 4.141-10.219a13.443 13.443 0 0 1 5.449-4.032c2.414-.97 5.27-.97 10.984-.97h26.123c5.721 0 8.581 0 10.997.972a13.447 13.447 0 0 1 5.452 4.04Z" clip-rule="evenodd"/><path fill="#FF5D01" fill-rule="evenodd" d="M162.074 168.499c-6 5.131-17.976 8.629-31.77 8.629c-16.931 0-31.122-5.271-34.887-12.359c-1.346 4.063-1.648 8.712-1.648 11.683c0 0-.887 14.585 9.257 24.729a9.538 9.538 0 0 1 9.538-9.538c9.028 0 9.018 7.877 9.009 14.268v.57c0 9.7 5.928 18.015 14.359 21.519a19.55 19.55 0 0 1-1.966-8.572c0-9.251 5.432-12.696 11.744-16.698c5.022-3.185 10.602-6.724 14.448-13.824a26.062 26.062 0 0 0 3.145-12.454c0-2.773-.431-5.445-1.229-7.953Z" clip-rule="evenodd"/><path fill="url(#skillIconsAstro1)" fill-rule="evenodd" d="M162.074 168.499c-6 5.131-17.976 8.629-31.77 8.629c-16.931 0-31.122-5.271-34.887-12.359c-1.346 4.063-1.648 8.712-1.648 11.683c0 0-.887 14.585 9.257 24.729a9.538 9.538 0 0 1 9.538-9.538c9.028 0 9.018 7.877 9.009 14.268v.57c0 9.7 5.928 18.015 14.359 21.519a19.55 19.55 0 0 1-1.966-8.572c0-9.251 5.432-12.696 11.744-16.698c5.022-3.185 10.602-6.724 14.448-13.824a26.062 26.062 0 0 0 3.145-12.454c0-2.773-.431-5.445-1.229-7.953Z" clip-rule="evenodd"/><defs><linearGradient id="skillIconsAstro0" x1="128" x2="128" y1="0" y2="256" gradientUnits="userSpaceOnUse"><stop offset=".193" stop-color="#FCB3B2"/><stop offset="1" stop-color="#C587EE"/></linearGradient><linearGradient id="skillIconsAstro1" x1="189.089" x2="153.565" y1="126.765" y2="201.132" gradientUnits="userSpaceOnUse"><stop stop-color="#FF1639"/><stop offset="1" stop-color="#FF1639" stop-opacity="0"/></linearGradient></defs></g></svg>
            </div>
            <div class="svgLogos"> <!--CPP-->
                <svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#00599C" rx="60"/><path fill="#fff" d="M110.759 210.517C65.125 210.517 28 173.392 28 127.759C28 82.125 65.125 45 110.759 45c29.445 0 56.908 15.846 71.668 41.353l-35.816 20.726c-7.387-12.768-21.126-20.7-35.852-20.7c-22.817 0-41.38 18.563-41.38 41.38c0 22.816 18.563 41.379 41.38 41.379c14.727 0 28.466-7.932 35.854-20.702l35.816 20.725c-14.76 25.51-42.223 41.356-71.67 41.356Z"/><path fill="#fff" d="M193.517 123.161h-9.196v-9.196h-9.194v9.196h-9.196v9.195h9.196v9.196h9.194v-9.196h9.196v-9.195Zm34.483 0h-9.196v-9.196h-9.194v9.196h-9.196v9.195h9.196v9.196h9.194v-9.196H228v-9.195Z"/></g></svg>
            </div>
            <div class="svgLogos"> <!--PYTHON-->
                <svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><path fill="url(#skillIconsPythonDark0)" d="M127.279 29c-50.772 0-47.602 22.018-47.602 22.018l.057 22.81h48.451v6.85H60.489S28 76.992 28 128.221c0 51.23 28.357 49.414 28.357 49.414h16.924v-23.773s-.912-28.357 27.905-28.357h48.054s26.999.436 26.999-26.094V55.546S180.338 29 127.279 29Zm-26.716 15.339a8.708 8.708 0 0 1 8.717 8.717a8.708 8.708 0 0 1-8.717 8.716a8.708 8.708 0 0 1-8.716-8.716a8.708 8.708 0 0 1 8.716-8.717Z"/><path fill="url(#skillIconsPythonDark1)" d="M128.721 227.958c50.772 0 47.602-22.017 47.602-22.017l-.057-22.811h-48.451v-6.849h67.696S228 179.966 228 128.736c0-51.23-28.357-49.413-28.357-49.413h-16.924v23.773s.912 28.357-27.905 28.357H106.76s-27-.437-27 26.093v43.866s-4.099 26.546 48.961 26.546Zm26.716-15.339a8.708 8.708 0 0 1-8.717-8.716a8.708 8.708 0 0 1 8.717-8.717a8.709 8.709 0 0 1 8.717 8.717a8.709 8.709 0 0 1-8.717 8.716Z"/><defs><linearGradient id="skillIconsPythonDark0" x1="47.22" x2="146.333" y1="46.896" y2="145.02" gradientUnits="userSpaceOnUse"><stop stop-color="#387EB8"/><stop offset="1" stop-color="#366994"/></linearGradient><linearGradient id="skillIconsPythonDark1" x1="108.056" x2="214.492" y1="109.905" y2="210.522" gradientUnits="userSpaceOnUse"><stop stop-color="#FFE052"/><stop offset="1" stop-color="#FFC331"/></linearGradient></defs></g></svg>
            </div>
			<div class="svgLogos"> <!--PHP-->
				<svg xmlns="http://www.w3.org/2000/svg" width={heightWidth} height={heightWidth} viewBox="0 0 256 256"><g fill="none"><rect width="256" height="256" fill="#242938" rx="60"/><path fill="#fff" d="M49.158 100.246h28.408c8.338.07 14.38 2.474 18.126 7.208c3.746 4.734 4.982 11.2 3.71 19.398c-.494 3.746-1.59 7.42-3.286 11.024c-1.626 3.604-3.886 6.854-6.784 9.752c-3.534 3.674-7.314 6.006-11.342 6.996c-4.028.99-8.198 1.484-12.508 1.484h-12.72l-4.028 20.14H34l15.158-76.002ZM61.56 112.33l-6.36 31.8c.424.07.848.106 1.272.106h1.484c6.784.07 12.438-.6 16.96-2.014c4.522-1.484 7.562-6.642 9.116-15.476c1.272-7.42 0-11.696-3.816-12.826c-3.746-1.13-8.444-1.66-14.098-1.59c-.848.07-1.66.106-2.438.106h-2.226l.106-.106M116.186 80h14.628l-4.134 20.246h13.144c7.208.142 12.578 1.626 16.112 4.452c3.604 2.826 4.664 8.198 3.18 16.112l-7.102 35.298h-14.84l6.784-33.708c.706-3.534.494-6.042-.636-7.526s-3.568-2.226-7.314-2.226l-11.766-.106l-8.692 43.566h-14.628L116.186 80Zm58.638 20.246h28.408c8.338.07 14.38 2.474 18.126 7.208c3.746 4.734 4.982 11.2 3.71 19.398c-.494 3.746-1.59 7.42-3.286 11.024c-1.626 3.604-3.886 6.854-6.784 9.752c-3.534 3.674-7.314 6.006-11.342 6.996c-4.028.99-8.198 1.484-12.508 1.484h-12.72l-4.028 20.14h-14.734l15.158-76.002Zm12.402 12.084l-6.36 31.8c.424.07.848.106 1.272.106h1.484c6.784.07 12.438-.6 16.96-2.014c4.522-1.484 7.562-6.642 9.116-15.476c1.272-7.42 0-11.696-3.816-12.826c-3.746-1.13-8.444-1.66-14.098-1.59c-.848.07-1.66.106-2.438.106h-2.226l.106-.106"/></g></svg>
			</div>
        </div>
    </div>
</div>
<style>
	.topContent, .bioContent {
		display: grid;
		grid-template-columns: 1fr 1fr;
		align-items: center;
		justify-content: center;
		padding-top: 3rem;
		padding-bottom: 7rem;
		width: 100%;
	}
	.introText {
		margin-top: 6rem;
	}
	.bioText {
		max-width: 400px;
		min-width: auto;
		padding-right: 1rem;
	}
	.headings {
		margin: 0;
		color: var(--nord-6);
	}
	.name {
		margin-top: 0;
		font-size: 4rem;
	}
	.comment {
		color: #7c8593;
	}
	.developer {
		margin-top: 0;
		margin-bottom: 0;
		font-size: 2rem;
		background: -webkit-linear-gradient(0deg, rgba(92,39,189,1) 0%, rgba(0,212,255,1) 100%);
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}
	.imgDiv {
		scale: 0.75;
		display: flex;
	}
	.toastLogo {
		width: 100%;
		height: 100%;
	}
	.svgLogosBox {
		height: 400px;
		width: 400px;
		align-items: center;
		display: grid;  
	}
	.svgLogoSection {
		display: grid;
		justify-content: center;
		grid-template-columns: repeat(auto-fit, minmax(50px, 100px));
	}
	.svgLogos {
		display: grid;
		margin: 1em;
	}
	.svgLogos:last-child {
		grid-column: 1 / -1;
		justify-content: center;
	}
	.color1 {
		color: #00aeff;
	}
	.color1:hover {
		text-decoration: none;
		color: #00aeff;
	}
	.color2 {
		color: #00ff8c;
	}
	.color2:hover {
		text-decoration: none;
		color: #00ff8c;
	}
	.color4 {
		color: #ff8c00;
	}
	.color4:hover {
		text-decoration: none;
		color: #ff8c00;
	}
	.color3:hover {
		text-decoration: none;
		color: var(--nord-6);
	}

	@media only screen and (max-width: 768px) {
		.blogBoxes {
			display: block;
    		margin: 1em;
		}
		.blogContentTitle {
			margin: 2em;
		}
		.topContent {
			display: flex;
			flex-direction: column-reverse;
			padding-bottom: 3rem;
		}
		.bioContent {
			display: flex;
			flex-direction: column;
			padding-top: 2rem;
			text-align: left;
		}
		.introText, .bioText {
			padding: 0;
			margin: 0;
		}
		.introText {
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.bioText {
			margin-bottom: 0rem;
			text-align: left;
		}
		.svgLogosBox {


		}
	}
	@media (prefers-color-scheme: light) {
		.headings {
			color: var(--nord-0);
		}
	}

</style>